* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: rgb(56, 48, 48);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover {
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    align-content: center;


}

.choice {
    height: 165px;
    width: 165px;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    margin-top: 5rem;
    background-color: rgb(36, 31, 31);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}